body {
  margin: 0;
  text-align: center;
}

.slide {
  height: 100vh;  
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-content {
  font-size: 3vmax;
}

.slide:not(.visible) {
  display: none;
}

.slide-number {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: .5em;
}

@media (min-width: 45em) {
  
  .slide-content {
    font-size: 2vmax;
  }

}
